.B1:hover,
.B1:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.B1:hover,
.B1:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.B2:hover,
.B2:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.B3:hover,
.B3:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.B4:hover,
.B4:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.B5:hover,
.B5:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.B6:hover,
.B6:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.B7:hover,
.B7:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
/*bouton fill couleur*/
.B1 {
  --color: #a972cb;
  --hover: #a972cb;
}

.B2 {
  --color: #ef6eae;
  --hover: #ef6eae;
}

.B3 {
  --color: #ff7f82;
  --hover: #ff7f82;
}

.B4 {
  --color: #ffa260;
  --hover: #ffa260;
}

.B5 {
  --color: #e4cb58;
  --hover: #e4cb58;
}

.B6 {
  --color: #8fc866;
  --hover: #8fc866;
}

.B7 {
  --color: #19bc8b;
  --hover: #19bc8b;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}

body {
  color: #fff;
  background: #17181c;
  font: 300 1em;
  font-family: "Lunasima", sans-serif;
  -webkit-box-pack: center;
  justify-content: center;
  align-content: center;
  -webkit-box-align: center;
  /* align-items: center; */
  text-align: center;
  min-height: 100vh;
  /* display: -webkit-box; */
  /* display: flex; */
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 1em;
}

.todo-input {
  font-size: 16px;
  font-size: 16px;
  font-family: inherit;
  padding: 16px 16px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  width: 30%;
  height: 10%;
  margin-top: 32px;
}

.todo-input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

.todo-input-small{
  font-size: 14px;
  font-size: 14px;
  font-family: inherit;
  padding: 14px 14px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  width: 25%;
  height: 5%;
  margin-left: 48px;
}

.main-header {
  font-size: 48px;
  color: white;
  margin-top: 48px;
}
.main-header-focus {
  font-size: 48px;
  color: var(--color);
}
.add-button {
  border-radius: 100%;
}
.todo-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  margin: auto;
  margin-top: 20px;
}
.sec-hide {
  display: none;
}
